@{
    ViewBag.Title = "About us";
}
<h2 class="stylehead">@ViewBag.Title.</h2>
<h3 style="text-align:center">@ViewBag.Message</h3>

<div style="margin-top:50px; max-width:800px; margin-left: 10%;	margin-right: 10%; margin-bottom:50px ">
    <h3 style="font-weight: bold">What is LOCAS</h3>
    <p style="font-size: 20px">LOCAS is the application allow users to share their location and add the travelling path. 
    User can share the location by clicking on the map (if they dont know the address) or type the address to the search field.</p>
</div>


<div style="margin-top:50px; max-width:800px; margin-left: 10%;	margin-right: 10%; margin-bottom:50px ">
    <h3 style="font-weight: bold">How to use it?</h3>
    <p style="font-size: 20px">
        This is the example. We can generate sample markers first and then we can select the travel path optionally.
        Besides, it can calculate the distance as well as the time travelling between 2 location    
    </p>
</div>

<script type="text/javascript">
    var map;
    function initMap() {
        // Setting.  
        var fsoft = { lat: 16, lng: 106 };

        // The map, centered 
        map = new google.maps.Map(
            document.getElementById('map'), { zoom: 5, center: fsoft });

    }
    var check1 = false;
    var check2 = false;
    var check3 = false;
    var checkmarker = false;
    
</script>
<div class="buttons">
    <a class="b" onclick="getMarker()">Generate marker</a>
    <a class="b" onclick="DrivenMod()">Show the Driving Path</a>
    <a class="b" onclick="FlightMod()">Show the Flying Path </a>
    <a class="b" onclick="Calculate()">Calculate the distance through 3 points</a>
</div>



<hr />

<div style="height:500px; width:100%" id="map"></div>
<br />
<p><h4>The result: </h4><span id="answer"></span></p>
