@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
<div class="content-div">
                <canvas class="scene" id="scene"></canvas>
                <div class="title">
                    <h2 class="h2">Welcome to LOCAS</h2>
                    
                    <h3 class="h3">Pham Hoang An - Nguyen Quoc Viet</h3>
                </div>
                

       
            <script src="~/js/demo.js"></script>
            <script src="~/js/three.min.js"></script>
            <script src="~/js/perlin.js"></script>
            <script src="~/js/TweenMax.min.js"></script>
            <script src="~/js/demo4.js"></script>
</div>

 
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to LOCAS</h2>
        <p>
            LOCAS is the application made by An and Viet.<br/>
            This entitle users to share their location
            and traveling experience.<br/>
            Share your location - Inspire the Traveler Spirit.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Want to learn more about this techonology?</h2>
        <p>You can build the application by following the steps in the tutorial series on the ASP.NET site.</p>
        <p><a class="btn btn-default" href="http://www.asp.net/mvc/tutorials/getting-started-with-ef-using-mvc/">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download our project via Github.</h2>
        <p>You can download the completed project.</p>
        <p><a class="btn btn-default" href="https://github.com/makonhakony/FIL">Download &raquo;</a></p>
    </div>
</div>